<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaituo.comparison.back.core.mapper.system.SysRolePermissionMapper">
    <resultMap id="BaseResultMap" type="com.kaituo.comparison.back.core.entity.system.SysRoleResource">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <id column="rid" jdbcType="VARCHAR" property="rid"/>
        <id column="pid" jdbcType="VARCHAR" property="pid"/>
    </resultMap>
</mapper>